.container {
	margin: 0 auto;
	max-width: calc(#{$global-max-width} + 1rem + 1rem);
	padding: 1rem;
}

.cbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}