.component-box {
  border: 2px solid #09C6F9;
  padding: 14px;
  width: 100%;
  border-radius: 0.35rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.component-box > :first-child {
  margin-top: 0;
}

.component-box > :last-child {
  margin-bottom: 0;
}