{{ define "main" }}
  <div>
    <section class="site-index-intro">
      <p> Hey 👋! I'm Utkarsh Srivastava. Diving deep into the world of software engineering has been my thing, especially when it comes to systems programming. There's just something about storage engines, databases and distributed systems that gets my brain gears turning.
      </p>
      <p>I have been working in storage space for a while now and currently working full time on <a href="https://github.com/noobaa/noobaa-core" class="component-linktext">NooBaa (Multi Cloud Object Storage Gateway)</a>.</p>
      <p><strong>Latest fascinations:</strong> Data Oriented Programming & Zig.</p>
    </section>
    <section>
      <h2>Blogs</h2>
      {{ $blogs := where .Site.RegularPages "Section" "blogs" }}
      {{ partial "summary-list" $blogs }}
    </section>
  </div>
{{ end }}