:root {
  --pagefind-ui-primary: #eeeeee !important;
  --pagefind-ui-text: #eeeeee !important;
  --pagefind-ui-background: #152028 !important;
  --pagefind-ui-border: #152028 !important;
  --pagefind-ui-tag: #152028 !important;
}